<template name="index">
  <h1>Question Form</h1>
  <div class="form-group">
    <label for= "text"> Enter the Question </label>
    <input id="q1" type="text" class="form-control">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-push-6">
        <a class = "form-control addQuestion"> Add Question </a>
      </div>
      <div class="col-md-push-6">
        <a class = "form-control finished"> Finished </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <ul>
        {{#each question}}
        <li>{{this.question}}</li>
        {{/each}}
      </ul>
    </div>
    <div class="col-xs-6">
      <ul>
        {{#each form}}
        <li><a href="/form/{{this._id}}">{{this._id}}</a></li>
        {{/each}}
      </ul>
    </div>
  </div>
</template>
